@page
@model SymptomerWebApi.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Symptomer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Symptomer.Date" class="control-label"></label>
                <input asp-for="Symptomer.Date" class="form-control" />
                <span asp-validation-for="Symptomer.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptomer.Alder" class="control-label"></label>
                <input asp-for="Symptomer.Alder" class="form-control" />
                <span asp-validation-for="Symptomer.Alder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptomer.Køn" class="control-label"></label>
                <input asp-for="Symptomer.Køn" class="form-control" />
                <span asp-validation-for="Symptomer.Køn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptomer.RegionId" class="control-label"></label>
                <input asp-for="Symptomer.RegionId" class="form-control" />
                <span asp-validation-for="Symptomer.RegionId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Nyser" /> @Html.DisplayNameFor(model => model.Symptomer.Nyser)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Hoster" /> @Html.DisplayNameFor(model => model.Symptomer.Hoster)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Feber" /> @Html.DisplayNameFor(model => model.Symptomer.Feber)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Muskelømhed" /> @Html.DisplayNameFor(model => model.Symptomer.Muskelømhed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Diarre" /> @Html.DisplayNameFor(model => model.Symptomer.Diarre)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Opkast" /> @Html.DisplayNameFor(model => model.Symptomer.Opkast)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Hovedpine" /> @Html.DisplayNameFor(model => model.Symptomer.Hovedpine)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Halsonde" /> @Html.DisplayNameFor(model => model.Symptomer.Halsonde)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Stakåndethed" /> @Html.DisplayNameFor(model => model.Symptomer.Stakåndethed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Udmattet" /> @Html.DisplayNameFor(model => model.Symptomer.Udmattet)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symptomer.Sansetab" /> @Html.DisplayNameFor(model => model.Symptomer.Sansetab)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Symptomer.Andet" class="control-label"></label>
                <input asp-for="Symptomer.Andet" class="form-control" />
                <span asp-validation-for="Symptomer.Andet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
